<%- include ("./partials/head.ejs") %>
 <div class="grid-container">


<h2 id="antwoord"><%-data.MRData.StandingsTable.season%></h2>


<section class="Question">
<h1>Welk seizoen is dit?</h1>
<table>
    <thead>
    <tr>
        <td>Positie</td>
        <td>Naam</td>
        <td>Wins</td>
        <td>Punten</td>
        <td>Team</td>
    </tr>
</thead>
    <tbody id="tableBody">
            <% data.MRData.StandingsTable.StandingsLists[0].DriverStandings.forEach(standing => { -%>
                <tr>
                    <td> <%- standing.position %></td>
                    <td id="driverName"> <%- standing.Driver.givenName %> <%- standing.Driver.familyName %></td>
                    <td> <%- standing.wins %></td>
                    <td> <%- standing.points %></td>
                    <td> <%- standing.Constructors[0].name %></td>
                </tr>
    <% }); %>
</tbody>
</table>
    </section>



    <section class="Players">
        
        <h1>Puntentelling</h1>
        <p class="speler"><%- user %></p>
        <p>punten <span id="punten">0</span></p>
        <div id="playerContainer"></div>
    </section>
      
    
   
  
<section class="Answers">
    <div id="message-container"></div>
    <form action="/season/drivers" method="POST"  id="send-container">
        <input type="number" name="answer" id="answer-input" >
        <input type="submit" >
    </form>
</section>


</div>
<%- include ("./partials/footer.ejs") %>
